#sidebar {
    min-width: 130px;
}
.nav-link[data-toggle].collapsed:after {
    content: "▾";
    text-indent: 15px;
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}

nav a + div > ul > li > a  {
    text-indent: 15px; /* Can use padding-left as well */
}

nav a + div > ul > li > a + div > ul > li > a {
    text-indent: 30px; /* Can use padding-left as well */
}

.nav-link {
	color: black;
    font-weight:bold;
}

div.card {
	
}

ul.nav-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
}

ul.nav-left li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
ul.nav-left li a:hover {
    color: white;
}

.navbar {
	margin-bottom: 0px; *
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.card-img-top {
    height: 150px;
}
.card-set {
    padding: 30px;
    border-bottom:1px solid #c6c9ce;
}

h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8em;
    color: #333;
}
.download-div {
    padding-top: 10px;
    padding-bottom: 15px;
}
#specifications,#features,#detail {
    padding-top: 10px;
}
.card-block {
  display: table;
  width: 100%;
}
.company-footer {
    clear: both;
    background-color: #036eb8;
    margin: 0px;
    padding: 0px;
    border: 0px;    
}
.footer-text {
    text-align: center;
    color: #ffffff;
}
.card-block {
    vertical-align: middle;
}

.card-set {
    text-align: center;
}
.menu-div {
    height: 27px;
    padding-bottom: 37px; 
}

@media only screen and (max-width: 768px) {
    #masthead {
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    .navbar-brand {
        display: none;
    }

}
@media only screen and (min-width: 769px) { 
    #masthead {
        position: fixed;
        top: 10px;
        left: 10px;
        right: 2%;
        width: 100px;
        z-index:9999;
    }   
}

#siteName {
    margin: 0px;
    padding: 7px 0px 8px 0px;
    color: #ffffff;
    font-weight: normal;
}  

#carousel-example-generic {
    padding-top: 20px;
}

.row{

margin-left:0px;

margin-right:0px;

}
.clearfix {
	clear: both;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
}


.card {
    padding: 5px;
    margin:8px;
}

.card:hover {
}

.card-image {
    height: 200px;
    width: 300px;
}
.card-container {
    padding: 2px 16px;
}

.navbar-inverse {
    background-color: #306dd1;
}

.col-spanning-1 {
    padding-left: 80px;
    padding-right: 40px;
}

.col-spanning-2 {
    padding-left: 40px;
    padding-right: 80px;
}

.admin-container {
    padding-top: 40px;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-blue-round {border-radius: 8px;background-color: #4182f4;}
#page-title h1 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 0;
    text-shadow: 1px 1px 1px #FFF;
    color: #555;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.clearfix {
    display: block;
}

#page-title, #countdown-wrap {
    position: relative;
    background-color: #F5F5F5;
    padding: 25px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}


.col_full {
    padding: 30px;
}

.tabs-frame-content {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
}

table.tbContact {
    margin: 15px;
    padding: 0;
    margin-top: 20px/9;
    display: block;
    border: 0;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

@media (min-width: 992px) {
    .col-md-left {
        width: 20%;
        float: left;
    }    
    .col-md-right {
        width: 80%;
        float: right;
    }
    .col-md-products {
        width: 100%;
    }
    .col-md-card {
        width: 30%;
        float: left;
        position: relative;        
    }
    .col-md-card:last-child{border:none;}

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #6997e0;
}

.site-login {
    padding-left: 20px;
}

.related-product {
    clear:both;
}

.content-wrap {
    position: relative;
    padding: 20px 40px;
}

.similar-product-header {
    padding: 20px;
    font-size: 120%;
    color: white;
    background-color: #5d8fe2;
}


.newspage .event .t {
    position: relative;
    padding-left: 44px;
}

.newspage .event .t {
    font-size: 22px;
    font-weight: bold;
    color: #036eb8;
    padding-bottom: 20px;
}

.newspage .event .d {
    font-size: 15px;
    color: #666;
    line-height: 1.8em;
}

.newspage .event .t:before {
    
    content: "\f1ea";
    color: #036eb8;
    font-family: 'FontAwesome';
    font-size: 28px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: 0;
    
}

ul, ol, dl {
    margin-left: 20px;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.newspage .event p, .newspage .event ul li {
    color: #666;
}

.stretched #page-title {
    padding: 30px 0;
}

.faq .togglet h4, .faq .toggleta h4 {
    color: #036eb8;
    font-size: 18px;
}

.toggle .togglet, .toggle .toggleta, .acctitle, .acctitlec {
    background-image: url(/img/toggle-plus@2x.png);
    background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}

.faq .togglet, .faq .toggleta {
    line-height: 20px;
    padding-left: 36px;
}

.toggle .togglet, .toggle .toggleta {
    display: block;
    position: relative;
    line-height: 24px;
    padding-left: 32px;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
    color: #036eb8;
    background: url(/img/toggle-plus.png) no-repeat left top;
}

.toggle .toggleta, .acctitlec {
    background-image: url(/img/toggle-minus@2x.png);
}

.toggle .toggleta {
    font-weight: bold;
    background: url(/img/toggle-minus.png) no-repeat left top;
}

.faq {
    border-bottom: 1px dotted #DDD;
}



.toggle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}

.faq .togglec h3 {
    font-size: 12px;
    font-weight: lighter;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8em;
}

h3, h4, h5, h6 {
    padding-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0 0 20px 20px;
    color: #666;
}

.search-form {
    padding-left: 10px;
}

.row-breadcrumbs {
    margin-top:11px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}





#primary-menu {
    text-align: center;
    float: none;
    max-width: none;
    height: 60px;
    background-color: #036eb8;
    position: relative;    
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.clearfix {
    display: block;
}

#primary-menu ul {
    margin: 0;
    position: relative;
    display: inline-block;
    margin: 0;    
}

ul {
    list-style: none;
}


#primary-menu ul li:first-child {
    padding-left: 0;
    background-image: none;
    margin-left: 0;
}

#primary-menu ul ul a span {
    display: none !important;
}

#primary-menu ul li {
    text-align: left;
    height: 60px;    
    position: relative;
    float: left;
    height: 60px;
    background: url(menu-divider.png) no-repeat left center;
    margin-left: 1px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;    
}

#primary-menu li a {
    padding: 17px 16px 19px;
    display: inline-block;
    border-top: 4px solid transparent;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;    
}

a {
    text-decoration: none;
    color: #036eb8;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#primary-menu ul ul {
    display: none;
    z-index: 200;
    width: 200px;
    margin: 0;
    position: absolute;
    top: 61px;
    left: 0;
}
#primary-menu ul li:hover > ul {
    display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#primary-menu ul li.current a, #primary-menu > ul > li:hover a, #primary-menu > ul > li.current-menu-ancestor > a, #primary-menu > ul > li.current-menu-parent > a, #primary-menu > ul > li.current-menu-item > a, #primary-menu > ul > li.current_page_parent > a, #primary-menu div ul li.current a, #primary-menu > div > ul > li:hover a, #primary-menu > div > ul > li.current-menu-ancestor > a, #primary-menu > div > ul > li.current-menu-parent > a, #primary-menu > div > ul > li.current-menu-item > a, #primary-menu > div > ul > li.current_page_parent > a {
    border-top-color: rgba(0,0,0,0.1);
    color: #fff;
}

#primary-menu ul ul li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    height: auto;
    border: none;
    background-image: none;
    background-color: #005b9a;
    margin-top: 1px;
}

#primary-menu ul ul a {
    padding: 10px 15px;
}

#primary-menu ul ul ul {
    top: 0;
    left: 201px !important;
}

#primary-menu ul ul a:hover, #primary-menu ul ul li:hover > a {
    font-weight: bold;
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
}





/*
form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: table-cell;

}

.inquForm input[type="text"], input[type="password"], select, textarea {
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

input[type="text"], input[type="password"] {
    width: 90%;
}

input[type="text"], input[type="password"], select, textarea {
    display: block;
    background: #FFF;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-top-width: 2px;
    outline: 0;
    font: normal 11px/100%;
    color: #666;
}

input[type="text"], input[type="password"], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px system-ui;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px system-ui;
}
textarea {
    width: 90%;
    height: 150px;
    line-height: 150%;
}

.inquForm input[type="text"], input[type="password"], select, textarea {
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    display: block;
    padding: 7px;
    margin-bottom: 10px;    
    outline: 0;
}

.inquForm td {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
}


input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    position: relative;
    top: 2px;
}
@media (max-width: 979px) and (min-width: 768px)
input, textarea, .uneditable-input {
    margin-left: 0;
}


input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

.btnLogin {
    cursor: pointer;
    background-color: #036eb8;
    border-radius: 10px;
    padding: 5px 15px;
    color: #fff;
    border: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

input[type="text"], input[type="password"] {
    width: 90%;
}
*/