#sidebar {
    min-width: 130px;
}
.nav-link[data-toggle].collapsed:after {
    content: "▾";
    text-indent: 15px;
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}

nav a + div > ul > li > a  {
    text-indent: 15px; /* Can use padding-left as well */
}

nav a + div > ul > li > a + div > ul > li > a {
    text-indent: 30px; /* Can use padding-left as well */
}

.nav-link {
	color: black;
}

div.card {
	
}

ul.nav-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
}

ul.nav-left li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
ul.nav-left li a:hover {
    color: white;
}

.navbar {
	margin-bottom: 0px; *
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.card-img-top {
    height: 150px;
    width: 150px;
}
.card-set {
    padding: 30px;
    border-bottom:1px solid #c6c9ce;
}

h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8em;
    color: #333;
}
.download-div {
    padding-top: 10px;
    padding-bottom: 15px;
}
#specifications,#features,#detail {
    padding-top: 10px;
}
.card-block {
  display: table;
  width: 100%;
}
.company-footer {
    clear: both;
    background-color: #036eb8;
    margin: 0px;
    padding: 0px;
    border: 0px;    
}
.footer-text {
    text-align: center;
    color: #ffffff;
}
.card-block {
    vertical-align: middle;
}

.card-set {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    #masthead {
        display: none;
    }

}
@media only screen and (min-width: 768px) {
    .navbar-brand {
        display: none;
    }

}
 
#masthead {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 2%;
    width: 100px;
    z-index:9999;
}   
#siteName {
    margin: 0px;
    padding: 7px 0px 8px 0px;
    color: #ffffff;
    font-weight: normal;
}  

#carousel-example-generic {
    padding-top: 20px;
}

.row{

margin-left:0px;

margin-right:0px;

}
.clearfix {
	clear: both;
}
.menu-div {
	height: 27;
	padding-bottom: 37; 
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
}


.card {
    padding: 5px;
    margin:8px;
}

.card:hover {
}

.card-image {
    height: 200px;
    width: 300px;
}
.card-container {
    padding: 2px 16px;
}

.navbar-inverse {
    background-color: #306dd1;
}

.col-spanning-1 {
    padding-left: 80px;
    padding-right: 40px;
}

.col-spanning-2 {
    padding-left: 40px;
    padding-right: 80px;
}

.admin-container {
    padding-top: 40px;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-blue-round {border-radius: 8px;background-color: #4182f4;}
#page-title h1 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 0;
    text-shadow: 1px 1px 1px #FFF;
    color: #555;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.clearfix {
    display: block;
}

#page-title, #countdown-wrap {
    position: relative;
    background-color: #F5F5F5;
    padding: 25px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}


.col_full {
    padding: 30px;
}

.tabs-frame-content {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
}

table.tbContact {
    margin: 15px;
    padding: 0;
    margin-top: 20px/9;
    display: block;
    border: 0;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

@media (min-width: 992px) {
    .col-md-left {
        width: 20%;
        float: left;
    }    
    .col-md-right {
        width: 80%;
        float: right;
    }
    .col-md-products {
        width: 100%;
    }
    .col-md-card {
        width: 30%;
        float: left;
        border-right: 1px solid #ccc;
        position: relative;        
    }
    .col-md-card:last-child{border:none;}

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #6997e0;
}

.site-login {
    padding-left: 20px;
}

.related-product {
    clear:both;
}

.content-wrap {
    position: relative;
    padding: 20px 40px;
}

.similar-product-header {
    padding: 20px;
    font-size: 120%;
    color: white;
    background-color: #525c6d;
}


.newspage .event .t {
    position: relative;
    padding-left: 44px;
}

.newspage .event .t {
    font-size: 22px;
    font-weight: bold;
    color: #036eb8;
    padding-bottom: 20px;
}

.newspage .event .d {
    font-size: 15px;
    color: #666;
    line-height: 1.8em;
}

.newspage .event .t:before {
    
    content: "\f1ea";
    color: #036eb8;
    font-family: 'FontAwesome';
    font-size: 28px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: 0;
    
}

ul, ol, dl {
    margin-left: 20px;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.newspage .event p, .newspage .event ul li {
    color: #666;
}

.stretched #page-title {
    padding: 30px 0;
}

.faq .togglet h4, .faq .toggleta h4 {
    color: #036eb8;
    font-size: 18px;
}

.toggle .togglet, .toggle .toggleta, .acctitle, .acctitlec {
    background-image: url(/img/toggle-plus@2x.png);
    background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}

.faq .togglet, .faq .toggleta {
    line-height: 20px;
    padding-left: 36px;
}

.toggle .togglet, .toggle .toggleta {
    display: block;
    position: relative;
    line-height: 24px;
    padding-left: 32px;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
    color: #036eb8;
    background: url(/img/toggle-plus.png) no-repeat left top;
}

.toggle .toggleta, .acctitlec {
    background-image: url(/img/toggle-minus@2x.png);
}

.toggle .toggleta {
    font-weight: bold;
    background: url(/img/toggle-minus.png) no-repeat left top;
}

.faq {
    border-bottom: 1px dotted #DDD;
}



.toggle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}

.faq .togglec h3 {
    font-size: 12px;
    font-weight: lighter;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8em;
}

h3, h4, h5, h6 {
    padding-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0 0 20px 20px;
    color: #666;
}


