#sidebar {
    min-width: 130px;
}
.nav-link[data-toggle].collapsed:after {
    content: "▾";
    text-indent: 15px;
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}

nav a + div > ul > li > a  {
    text-indent: 15px; /* Can use padding-left as well */
}

nav a + div > ul > li > a + div > ul > li > a {
    text-indent: 30px; /* Can use padding-left as well */
}

.nav-link {
	color: black;
}

div.card {
	
}

ul.nav-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    background-color: #f1f1f1;
}

ul.nav-left li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
ul.nav-left li a:hover {
    background-color: #555;
    color: white;
}

.navbar {
	margin-bottom: 0px; *
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.card-img-top {
    height: 40px;
}
.card-set {
    padding: 30px;
    border-bottom:1px solid #c6c9ce;
}

h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8em;
    color: #333;
}
.download-div {
    padding-top: 10px;
    padding-bottom: 15px;
}
#specifications,#features,#detail {
    padding-top: 10px;
}
.card-block {
  display: table;
  width: 100%;
}
.company-footer {
    background-color: #036eb8;
    margin: 0px;
    padding: 0px;
    border: 0px;    
}
.footer-text {
    text-align: center;
    color: #ffffff;
}
.card-block {
    vertical-align: middle;
}

.card-set {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    #masthead {
        visibility: hidden;
    }

}
@media only screen and (min-width: 768px) {
    .navbar-brand {
        visibility: hidden;
    }

}
 
#masthead {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 2%;
    width: 100px;
    z-index:9999;
}   
#siteName {
    margin: 0px;
    padding: 7px 0px 8px 0px;
    color: #ffffff;
    font-weight: normal;
}  

#carousel-example-generic {
    padding-top: 20px;
}

.row{

margin-left:0px;

margin-right:0px;

}
